.gridAdd:hover {
  -moz-box-shadow: 1px 2px 20px 0 #656565;
  -o-box-shadow: 1px 2px 20px 0 #656565;
  -webkit-box-shadow: 1px 2px 20px 0 #656565;
  box-shadow: 1px 2px 20px 0 #656565;
  transition: 0.3s ease all;
}

.gridAdd {
  -moz-border-radius: 15px;
  -moz-box-shadow: 0 1px 3px 0 #656565;
  -o-box-shadow: 0 1px 3px 0 #656565;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 0 1px 3px 0 #656565;
  background-color: rgba(255,255,255,0.8);
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 #656565;
  display: grid;
  grid-template-areas:
    ". . ."
    " . gridData . "
    " . . ."
    " . addBtn . "
    " . . . ";
  grid-template-columns: 24px calc(100% - 48px) 24px;
  grid-template-rows: 24px 50px 7px 46px 24px;
  height: auto;
  max-width: 100%;
  opacity: 0.7;
  width: 450px;
}

.add.btn {
  grid-area: addBtn;
  justify-self: center;
}
