.carousel {
  display: flex;
  overflow-y: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
  width: auto;
  margin: auto;
  max-width: 100%;
}

.material-icons {
  font-size: 50px;
  vertical-align: middle;
}
.carousel-control-prev, .carousel-control-next {
  position: relative;
}

.carousel-item {
  display: flex;
}


@media screen and (min-width: 576px) {
  .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
    width: auto;
    margin: auto;
    max-width: 100%;
  }

  .material-icons {
    font-size: 50px;
    vertical-align: middle;
  }
  .carousel-control-prev, .carousel-control-next {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
    width: auto;
    margin: auto;
    max-width: 80%;
  }

  .material-icons {
    font-size: 50px;
    vertical-align: middle;
  }
  .carousel-control-prev, .carousel-control-next {
    position: relative;
  }
}

@media screen and (min-width: 992px) {
  .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
    width: auto;
    margin: auto;
    max-width: 80%;
  }

  .material-icons {
    font-size: 50px;
    vertical-align: middle;
  }
  .carousel-control-prev, .carousel-control-next {
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-align: center;
    width: auto;
    margin: auto;
    max-width: 100%;
  }

  .material-icons {
    font-size: 50px;
    vertical-align: middle;
  }
  .carousel-control-prev, .carousel-control-next {
    position: relative;
  }
}
