h1.title {
  text-align: center;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  opacity: 0.7;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
