body {
  background-color: white;
  bottom: 0;
  font-family: sans-serif;
  height: 100%;
  left: 0;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  right: 0;
  top: 0;

}

p {
  margin: 0;
}

.asc {
  align-self: center;
}

.h2 {
  margin: 0;
}

.small-border { 
  border: 1px rgba(50,48,45,0.3) solid;
}

.bl {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.br {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
